@model IEnumerable<Watch_List.Models.UtilizadoresFilmes>

 @{
    ViewData["Title"]="Filmes do Utilizador" ;
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>


<table class="table">
    <thead>
        
        <tr>
           
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
            
            <th>

                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
           

        <td>
            <img src="~/Imagens/@Html.DisplayFor(modelItem => item.Poster)"
                 width="50"
                 alt="@Html.DisplayFor(modelItem => item.Titulo)"
                 title="@Html.DisplayFor(modelItem => item.Titulo)" />
            <br />
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>


            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
            <a asp-action="Delete" asp-route-id="@item.Id"> Apagar </a>

            <a  asp-controller="Filmes" asp-action="Details" asp-route-id="@item.FilmeFK">Detalhes</a>
        </td>
        </tr>
        }
    </tbody>
</table>
