@model Watch_List.Models.Filme

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Titulo)</h4>
    <hr />

    <table class="table">
        <tr>
            <td>
                <img src="~/Imagens/@Html.DisplayFor(model => model.Poster)"
                     width="500"
                     alt="@Html.DisplayFor(model => model.Poster)"
                     title="@Html.DisplayFor(model => model.Poster)" />
            </td>

        <td column-span="4">
            @Html.DisplayNameFor(model => model.Resumo)
        </td>

        <td>
            @Html.DisplayFor(model => model.Resumo)
        </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Ano) : @Html.DisplayFor(model => model.Ano)

            </td>
            <tr>
                @Html.DisplayNameFor(model => model.Trailer)
            </tr>
            <td>
                @Html.DisplayFor(model => model.Trailer)
            </td>
        </tr>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar à página anterior</a>
</div>
